<!doctype html>
<html>
  <head>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="../js/login.js" charset="UTF-8"></script>
  </head>
  <body>
    <h2>Register Form</h2>
    <div>
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required id="username">

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" autocomplete="on" name="psw" required id="password">

        <button type="submit" onclick="handleRegister()">Register</button>
      </div>
    </div>
  </body>
</html>
